{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1><a href="https://sarg.lt">Sarg.lt</a> reporterių skelbimų archyvas su paprasta paieška :)</h1>
        <h3>Saugoma {{ ads|length }} unikalių skelbimų nuo 2021-01-30</h3>
        <table id="table"
               data-toggle="table"
               data-search="true"
               data-show-columns="true"
               data-pagination="true"
               data-page-size="25"
        >
            <thead>
            <tr>
                <th>Data</th>
                <th data-visible="false">Reporteris</th>
                <th>Skelimas</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <tr>
                    <td>{{ ad.datetime|date("Y-m-d H:i:s") }}</td>
                    <td>{{ ad.reporter }}</td>
                    <td>{{ ad.text }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
