{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1><a href="https://sarg.lt">Sarg.lt</a> reporterių skelbimų archyvas su paprasta paieška :)</h1>
        <h3>Saugoma {{ adsCount }} unikalių skelbimų nuo 2021-01-30</h3>
        <h5>Skelbimai kraunami po truputi, naudojant <a href="https://buildthis.com/client-side-vs-server-side-pagination/">server-side pagination</a></h5>
        <h5>Sena versija su client side pagination - <a href="{{ path('ads_client_side_pagination') }}">čia</a></h5>
        <table id="table"
               data-toggle="table"
               data-search="true"
               data-show-columns="true"
               data-url="{{ path('ads_data') }}"
               data-side-pagination="server"
               data-pagination="true"
               data-page-size="25"
        >
            <thead>
            <tr>
                <th data-field="datetime">Data</th>
                <th data-field="reporter" data-visible="false">Reporteris</th>
                <th data-field="text">Skelbimas</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
